<launch>
  <!-- start up the camera driver to publish images.
        create camera link in tf using calibration result. -->
  <arg name="resWidth" default="640"/>
  <arg name="resHeight" default="480"/>

  <node pkg="camera_driver" name="realsense2_driver" type="realsense2_driver" output="screen">
      <param name="resWidth"  type="int"  value="$(arg resWidth)" />
      <param name="resHeight"  type="int"  value="$(arg resHeight)" />
  </node>

  <node pkg="ur_perception" name="camera_tf_broadcaster" type="camera_tf_broadcaster"/>
</launch>
