<launch>
  <include file="$(find ur5_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="shaky"
        pkg="ur_perception"
        type="shaky"
        respawn="false" output="screen">
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load"
              file="$(find ur5_moveit_config)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find ur5_moveit_config)/config/ompl_planning.yaml"/>
  </node>
</launch>
