[submodule "src/Handeye-Calibration-ROS"]
	path = src/Handeye-Calibration-ROS
	url = https://github.com/OolongQian/Handeye-Calibration-ROS
[submodule "src/ur_modern_driver"]
	path = src/ur_modern_driver
	url = https://github.com/OolongQian/ur_modern_driver
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/OolongQian/universal_robot
[submodule "perception/mmdetection"]
	path = perception/mmdetection
	url = https://github.com/OolongQian/mmdetection
[submodule "perception/DenseFusion"]
	path = perception/DenseFusion
	url = https://github.com/OolongQian/DenseFusion
[submodule "perception/cocoapi"]
	path = perception/cocoapi
	url = https://github.com/OolongQian/cocoapi
[submodule "src/moveit_python"]
	path = src/moveit_python
	url = https://github.com/OolongQian/moveit_python
